<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> </title>
</head>

<body>

    <!--**********************************************************************
        the header...
    -->
    <%- include('../includes/header')  %>

    <!--**********************************************************************
        the main area...
    -->
    <main class="mainBlog">

        <!-- =================================================================
            detailed blog article
        -->
        <article class="blog-article">

            <h1> <%= article.title %> </h1>

            <% if (article.url.includes('http')) { %>
            <img src="<%= article.url  %>" alt="">
            <% } else { %>
            <img src="<%= `/img${article.url}` %>" alt="">
            <% } %>


            <div class="article-info">
                <div>
                    <img src="<%= article.author_bild %>" alt="">
                    <div>
                        <p><%= article.author %> </p>
                        <p><%= article.published_at.toLocaleString(
                        'en',
                        {    
                            //weekday: 'short', // long, short, narrow
                            day: '2-digit', // numeric, 2-digit
                            month: 'short', // numeric, 2-digit, long, short, narrow
                            year: 'numeric' // numeric, 2-digit 
                        }) %>
                            &bull; <%= article.duration %> min read</p>
                    </div>
                </div>
                <div class="social">
                    <a href=""><img src="/img/facebook.png" alt="facebook"></a>
                    <a href=""><img src="/img/twitter.png" alt="twitter"></a>
                </div>

            </div>

            <p><%= article.body %> </p>

        </article>

        <!-- =================================================================
            What to read next
        -->
        <%- include('../includes/read-next')  %>

    </main>

    <!--**********************************************************************
        the footer...
    -->
    <%- include('../includes/footer')  %>

    <script src="/js/main.js"></script>
</body>

</html>