<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> </title>
</head>

<body>

    <!--**********************************************************************
        the header...
    -->
    <%- include('../includes/header')  %>

    <!--**********************************************************************
        the main area...
    -->
    <main class="mainBlog">

        <!-- =================================================================
            detailed blog article
        -->
        <article>
            <h1>
                <%= blogs[0].title %>
            </h1>
            <img src="<%=`/img${blogs[0].url}`  %> " alt="">



        </article>

        <!-- =================================================================
            What to read next
        -->
        <%- include('../includes/read-next')  %>

    </main>

    <!--**********************************************************************
        the footer...
    -->
    <%- include('../includes/footer')  %>

    <script src="/js/main.js"></script>
</body>

</html>