<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> </title>
</head>

<body>

    <!--**********************************************************************
        the header...
    -->
    <%- include('../includes/header')  %>

    <!--**********************************************************************
        the main area...
    -->
    <main class="mainIndex">

        <!-- =================================================================
            the first article
        -->
        <section class="intro">
            <img src="<%= `/img${blogs[0].url}` %>" alt="">
            <h1>
                <%= blogs[0].title %>
            </h1>
        </section>

        <!-- =================================================================
            all articles
        -->
        <section class="all-articles">
            <h1>All articles</h1>
            <div class="articles">
                <% blogs.slice(1).forEach(article => { %>
                <%- include('../includes/article-card', { article })  %>
                <% }) %>
            </div>
        </section>

    </main>

    <!--**********************************************************************
        the footer...
    -->
    <%- include('../includes/footer')  %>

    <script src="/js/main.js"></script>
</body>

</html>